@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 20rem;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-weight: lighter;
  text-align: center;
}

.plushies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.plushy {
  flex: 1;
}

.plushy__image {
 width: 300px;
 height: auto;
}

.plushy__name {
  text-align: center;
}

